body[class*=' page-Wikipedia_面存U_'].ns-4.action-view .mw-parser-output .mw-heading2 {
	font-size: 132%; margin-bottom: 0.3em; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
body[class*=' page-Wikipedia_n案存U_'].ns-4.action-view .mw-parser-output .mw-heading2 {
	font-size: 132%; margin-bottom: 0.3em; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
body[class*=' page-Wikipedia_面存U_'].ns-4.action-submit .mw-parser-output .mw-heading2 {
	font-size: 132%; margin-bottom: 0.3em; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
body[class*=' page-Wikipedia_n案存U_'].ns-4.action-submit .mw-parser-output .mw-heading2 {
	font-size: 132%; margin-bottom: 0.3em; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
body[class*=' page-Wikipedia_面存U_'].ns-4.action-view .mw-parser-output .mw-heading3 {
	font-size: 116%; margin-bottom: 0.3em;
}
body[class*=' page-Wikipedia_n案存U_'].ns-4.action-view .mw-parser-output .mw-heading3 {
	font-size: 116%; margin-bottom: 0.3em;
}
body[class*=' page-Wikipedia_面存U_'].ns-4.action-submit .mw-parser-output .mw-heading3 {
	font-size: 116%; margin-bottom: 0.3em;
}
body[class*=' page-Wikipedia_n案存U_'].ns-4.action-submit .mw-parser-output .mw-heading3 {
	font-size: 116%; margin-bottom: 0.3em;
}
.skin-vector-legacy .mw-body-content {
	font-size: 0.93rem;
}
.vector-feature-custom-font-size-clientpref-0 .skin-vector-2022 .mw-body-content {
	font-size: 0.93rem;
}
.skin-monobook .mw-body-content {
	font-size: 110%;
}
.mw-editfont-monospace {
	font-size: 13.93px !important;
}
.mw-editfont-sans-serif {
	font-size: 13.93px !important;
}
.mw-editfont-serif {
	font-size: 13.93px !important;
}
small {
	font-size: 0.85em;
}
big {
	font-size: 1.14em;
}
