@font-face {
	font-family: YouTube Sans;
	src: url(https://fonts.gstatic.com/l/font?kit=Qw3hZQNGEDjaO2m6tqIqX5E-AVS5_rSejo46_PCTRspJ0OosolrBEJL3HMXfxQASluL2m_dANVawBpSF&skey=1cb7082979c43612&v=v32) format("woff");
	font-weight: 500;
	font-style: normal;
}
